body {
  background-color: $back-color;
  color: $base-color;
  text-align: center;
  font-weight: 200;
}
.menu {
  font-size: large;
  padding: 32px;
}
video {
  max-height: 90%;
  max-width: 100%;
}
.site_title {
  color: $secondary-color;
  font-weight: 200;
  font-size: xx-large;
  margin: 0;
}
.page_content {
  line-height: 1.5;
  margin-bottom: 64px;
}
.carousel_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.carousel__indicator {
  background-color: $base-color !important;
  border-color: $back-color !important;
}
.carousel__control {
  border-color: $base-color !important;
}
.carousel__slide {
  border-color: $back-color !important;
}