---
layout: default
---

{% if page.video %}
  <video id="video_presentation" class="section" autoplay playsinline muted loop>
    <source src="{{ page.video | relative_url }}" type="video/mp4">
  </video>
{% endif %}

{% if page.carousel %}
  <div id="carousel_presentation" class="carousel_container section">
    {% include carousel.html height="60" unit="%" %}
  </div>
{% endif %}

<div class="section">
  <div class="section_content">
    {{ content }}
  </div>
</div>

<style>
  {% include pagination.css %}
</style>

<script src="{{ '/assets/js/scroll-position.js' | relative_url }}"></script>
