<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
    <link rel="stylesheet" href="{{ '/assets/css/pagination.css' | relative_url }}" media="screen">
  </head>
  <body>
    <nav>
      {% include navigation.html %}
    </nav>
    <div class="page_content">
      {% if page.video %}
        <video id="video_presentation" class="section" autoplay playsinline muted loop>
          <source src="{{ page.video | relative_url }}" type="video/mp4">
        </video>
      {% endif %}
      {% if page.carousel %}
        <div id="carousel_presentation" class="carousel_container section">
          {% include carousel.html height="60" unit="%" %}
        </div>
      {% endif %}
      <div class="section">
        <div class="section_content">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section_content">
        {% include navigation.html %}
        {% include footer.html %}
      </div>
    </div>
    <script src="{{ '/assets/js/scroll-position.js' | relative_url }}"></script>
  </body>
</html>







